<h2>Список занятий<button class="primary" onclick="toggleDialog()">+ Добавить</button></h2>

<div class="card warning" id="errorExists"><p>Такое занятие уже существует</p></div>

<table>
    <tr>
        <th>№</th>
        <th style="width: 33%;">Группа</th>
        <th style="width: 33%;">Дисциплина</th>
        <th style="width: 33%;">Тип занятия</th>
        <th></th>
    </tr>

    <% for (let d of data[0]) { %>
    <tr>
        <td><span class="table-counter"></span></td>
        <td><%= data[1].find((s) => s.id == d.groupID)?.title %></td>
        <td><%= data[2].find((s) => s.id == d.subjectID)?.title %></td>
        <td><%= ['Лекция', 'Практическое занятие', 'Лабораторная работа'][d.type] %></td>
        <td><form action="/classes/delete" method="post">
            <input type="text" hidden value="<%= d.id %>" name="id">
            <button type="submit" title="Удалить занятие">🗑️</button>
        </form></td>
    </tr>
    <% } %>
</table>

<div id="dialog-wrapper">
    <div class="dialog">
        <h3>Добавить занятие</h3>
        <form action="/classes/add" method="post">
            <p>
                <label for="group">Группа</label>
                <select name="group" id="group" required>
                    <% for (let group of data[1]) { %>
                        <option value="<%= group.id %>"><%= group.title %></option>
                    <% } %>
                </select>
            </p>
            <p>
                <label for="subject">Дисциплина</label>
                <select name="subject" id="subject" required>
                    <% for (let subject of data[2]) { %>
                        <option value="<%= subject.id %>"><%= subject.title %></option>
                    <% } %>
                </select>
            </p>
            <p>
                <label for="classType">Тип занятия</label>
                <select name="classType" id="classType" required>
                    <option value="0">Лекция</option>
                    <option value="1">Практическое занятие</option>
                    <option value="2">Лабораторная работа</option>
                </select>
            </p>
            <button type="submit" class="primary">Сохранить</button>
            <button type="reset" onclick="toggleDialog()">Отмена</button>
        </form>
    </div>
</div>